
# Python
venv/
env/
__pycache__/
*.pyc
*.py[cod]
*$py.class
.pytest_cache/
.coverage
.mypy_cache/
.ruff_cache/

# Entorno
.env

# Editor / IDE
.vscode/
.idea/
.DS_Store
Thumbs.db

# Archivos de SO
*.swp

# Go
mi-servicio/mi-servicio.exe
mi-servicio/mi-servicio

# Dependencias
node_modules/
target/
.idea/
.vscode/
.env
*.log
