# Variables de entorno para el servicio de usuarios
PROFILE=dev

# Configuración de PostgreSQL
DB_HOST=postgres
DB_PORT=5432
DB_NAME=user_db
DB_USER=sde_user
DB_PASSWORD=sde_password

# Configuración de gRPC
GRPC_PORT=9090
